@import "active_admin/mixins";

.status_tag {
  background: darken($secondary-color, 15%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;

  body.ok, body.published, body.complete, body.completed, body.green { background: #8daa92; }
  body.warn, body.warning, body.orange { background: #e29b20; }
  body.error, body.errored, body.red { background: #d45f53; }
}
